{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/campeoesCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_campeoes">
<h3>Pesquisa campeoes de gastos<h3>

<table id="tabela_campeoes">
	<tr>
		<th>Portador</th>
		<th>Orgao</th>
		<th>Total de transacoes</th>
		<th>Valor Gasto</th>
	</tr>
	{{ tabela|raw }}
</table>

{% if paginas - 10 < 1 %}
	<a href="{{path('campeoes', {'page': 1})}}"><<</a>
{% else %}
	<a href="{{path('campeoes', {'page': paginas - 10})}}"><<</a>
{% endif %}

{% for i in paginas .. paginas + 9  %}
<a href="{{path('campeoes', {'page': i + 1})}}">{{i + 1}}</a>
{% endfor %}

<a href="{{path('campeoes', {'page': paginas + 11})}}">>></a>

</section>

{% endblock %}
