{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/campeoesCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_campeoes">
<h3>Portadores campeoes de gastos<h3>

<table id="tabela_campeoes">
	<tr>
		<th>Portador</th>
		<th>Orgao</th>
		<th>Total de transacoes</th>
		<th>Valor Gasto</th>
	</tr>
	{{ tabela|raw }}
</table>

{% set fatorPaginacao = ( atual // 10) * 10 %}

{% if atual - 10 < 1 %}
	<a href="{{path('campeoes', {'page': 1})}}"><<</a>
{% else %}
	<a href="{{path('campeoes', {'page': atual - 10})}}"><<</a>
{% endif %}

{% for i in fatorPaginacao .. fatorPaginacao + 9  %}
	{% if i <= paginas %}
		<a href="{{path('campeoes', {'page': i + 1 })}}">{{ i + 1 }}</a>
	{% endif %}
{% endfor %}

<a href="{{path('campeoes', {'page': fatorPaginacao + 11})}}">>></a>

</section>

{% endblock %}
