{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/destinatarioCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_destinatario">
<h3>Pesquisa por destinatario<h3>

<table id="tabela_destinatario">
	<tr>
		<th>Portador</th>
		<th>Cargo</th>
		<th>Orgao</th>
		<th>Valor Gasto</th>
	</tr>
	{{ tabela|raw }}
</table>

{% if paginas - 10 < 1 %}
        <a href="{{path('sacadores', {'page': 1})}}"><<</a>
{% else %}
        <a href="{{path('sacadores', {'page': paginas - 10})}}"><<</a>
{% endif %}

{% for i in paginas .. paginas + 9  %}
<a href="{{path('sacadores', {'page': i + 1})}}">{{i + 1}}</a>
{% endfor %}

<a href="{{path('sacadores', {'page': paginas + 11})}}">>></a>


</section>

{% endblock %}
