{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/destinatarioCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_destinatario">
<h3>Maiores recebedores<h3>

<table id="tabela_destinatario">
	<tr>
		<th>CPF/CNPJ do destinatario</th>
		<th>Nome destinatario</th>
		<th>Total de Transacoes</th>
		<th>Valor Transacao</th>
	</tr>
	{{ tabela|raw }}
</table>

{% set fatorPaginacao = ( atual // 10) * 10 %}

{% if atual - 10 < 1 %}
        <a href="{{path('destinatario', {'page': 1})}}"><<</a>
{% else %}
        <a href="{{path('destinatario', {'page': atual - 10})}}"><<</a>
{% endif %}

{% for i in fatorPaginacao .. fatorPaginacao + 9  %}
        {% if i <= paginas %}
                <a href="{{path('destinatario', {'page': i + 1 })}}">{{ i + 1 }}</a>
        {% endif %}
{% endfor %}

<a href="{{path('destinatario', {'page': fatorPaginacao + 11})}}">>></a>

</section>

{% endblock %}

