{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/orgaoCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_orgao">
<h3>Pesquisa por Orgao<h3>

<table id="tabela_orgao">
	<tr>
		<th>Orgao Superior</th>
		<th>Orgao Subordinado</th>
		<th>Unidade Gestora</th>
		<th>Ano Transacao</th>
                <th>Mes Transacao</th>
                <th>Nome Transacao</th>
                <th>Portador</th>
                <th>Favorecido</th>
                <th>Data Transacao</th>
                <th>Valor Transacao</th>
	</tr>
	{{ tabela|raw }}
</table>

{% if paginas - 10 < 1 %}
        <a href="{{path('sacadores', {'page': 1})}}"><<</a>
{% else %}
        <a href="{{path('sacadores', {'page': paginas - 10})}}"><<</a>
{% endif %}

{% for i in paginas .. paginas + 9  %}
<a href="{{path('sacadores', {'page': i + 1})}}">{{i + 1}}</a>
{% endfor %}

<a href="{{path('sacadores', {'page': paginas + 11})}}">>></a>

</section>

{% endblock %}
