{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset ('CSS/sacadoresCSS.css') }}">
{% endblock %}


{% block body %}
{{ parent() }}

<section id="principal_sacadores">
<h3>Pesquisa campeoes de saques<h3>

<table id="tabela_sacadores">
	<tr>
		<th>Portador</th>
		<th>Orgao</th>
		<th>Total de saques</th>
		<th>Valor Gasto</th>
	</tr>
	{{ tabela|raw }}
</table>

{% set fatorPaginacao = ( atual // 10) * 10 %}

{% if atual - 10 < 1 %}
        <a href="{{path('sacadores', {'page': 1})}}"><<</a>
{% else %}
        <a href="{{path('sacadores', {'page': atual - 10})}}"><<</a>
{% endif %}

{% for i in fatorPaginacao .. fatorPaginacao + 9  %}
        {% if i <= paginas %}
                <a href="{{path('sacadores', {'page': i + 1 })}}">{{ i + 1 }}</a>
        {% endif %}
{% endfor %}

<a href="{{path('sacadores', {'page': fatorPaginacao + 11})}}">>></a>

</section>

{% endblock %}

